<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjj.detect.dao.GitTestDao">

    <!--<editor-fold desc="ResultMap区，此为代码自动生成区，为防止您的代码丢失，请勿在此区域内添加手动代码">-->

    <resultMap id="gitTestDefaultMapping" type="com.bjj.detect.entity.GitTest">
        <result column="c_id" property="id"/>
        <result column="c_createtime" property="createTime"/>
        <result column="c_message" property="message"/>
        <result column="c_status" property="status"/>
        <result column="c_count" property="count"/>
    </resultMap>

    <!--</editor-fold>-->

    <!--<editor-fold desc="Sql区，此为代码自动生成区，为防止您的代码丢失，请勿在此区域内添加手动代码">-->

    <insert id="insert" parameterType="com.bjj.detect.entity.GitTest">
        INSERT INTO t_gittest
            (c_id,c_createtime,c_message,c_status,c_count)
        VALUES
            (#{id},#{createTime},#{message},#{status},#{count})
    </insert>

    <insert id="insertAll" parameterType="java.util.List">
        INSERT INTO t_gittest
            (c_id,c_createtime,c_message,c_status,c_count)
        VALUES
        <foreach collection="gitTests" item="item" separator=",">
            (#{item.id},#{item.createTime},#{item.message},#{item.status},#{item.count})
        </foreach>
    </insert>

    <update id="update" parameterType="com.bjj.detect.entity.GitTest">
        UPDATE t_gittest
        SET c_message=#{message},c_status=#{status},c_count=#{count}
        WHERE c_id=#{id}
    </update>

    <update id="updateAll" parameterType="java.util.List">
        UPDATE t_gittest SET 
            c_message = CASE c_id
            <foreach collection="gitTests" item="item" separator=" ">
                WHEN #{item.id} THEN #{item.message}
            </foreach>
            END
            ,c_status = CASE c_id
            <foreach collection="gitTests" item="item" separator=" ">
                WHEN #{item.id} THEN #{item.status}
            </foreach>
            END
            ,c_count = CASE c_id
            <foreach collection="gitTests" item="item" separator=" ">
                WHEN #{item.id} THEN #{item.count}
            </foreach>
            END
        WHERE c_id IN
        <foreach collection="gitTests" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <insert id="insertOrUpdate" parameterType="com.bjj.detect.entity.GitTest">
        INSERT INTO t_gittest
            (c_id,c_createtime,c_message,c_status,c_count)
        VALUES
            (#{id},#{createTime},#{message},#{status},#{count})
        ON DUPLICATE KEY UPDATE
            c_message=#{message},c_status=#{status},c_count=#{count}
    </insert>

    <insert id="insertOrUpdateAll" parameterType="java.util.List">
        INSERT INTO t_gittest
            (c_id,c_createtime,c_message,c_status,c_count)
        VALUES
        <foreach collection="gitTests" item="item" separator=",">
            (#{item.id},#{item.createTime},#{item.message},#{item.status},#{item.count})
        </foreach>
        ON DUPLICATE KEY UPDATE
            c_message=VALUES(c_message),c_status=VALUES(c_status),c_count=VALUES(c_count)
    </insert>

    <delete id="delete">
        DELETE FROM t_gittest
        WHERE c_id=#{id}
    </delete>

    <delete id="deleteAll">
        DELETE FROM t_gittest
        WHERE c_id IN
        <foreach collection="gitTests" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </delete>

    <delete id="deleteById">
        DELETE FROM t_gittest
        WHERE c_id=#{id}
    </delete>

    <delete id="deleteAllByIds">
        DELETE FROM t_gittest
        WHERE c_id IN
        <foreach collection="ids" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteByQuery">
        ${sql}
    </delete>

    <delete id="deleteByProperty">
        DELETE FROM t_gittest WHERE c_${propertyName} = #{value}
    </delete>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(c_id) FROM t_gittest
    </select>

    <select id="countByProperty" resultType="java.lang.Integer">
        SELECT COUNT(c_id) FROM t_gittest WHERE c_${propertyName} = #{value}
    </select>

    <select id="countByQuery" resultType="java.lang.Integer">
        ${sql}
    </select>

    <select id="get" resultMap="gitTestDefaultMapping">
        SELECT * FROM t_gittest
    </select>

    <select id="getByProperty" resultMap="gitTestDefaultMapping">
        SELECT * FROM t_gittest WHERE c_${propertyName} = #{value}
    </select>
    <select id="getById" resultMap="gitTestDefaultMapping">
        SELECT * FROM t_gittest
        WHERE c_id=#{id}
    </select>

    <select id="getByQuery" resultMap="gitTestDefaultMapping">
        ${sql}
    </select>

    <!--</editor-fold>-->

</mapper>
